<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Определение кол-ва паролей</title>
    </head>
    <body>
        <div>

            <form method="POST">
                <label>Введите пароль:</label>
                <input type="text" name="password">
                <button type="submit" name="action">Запуск</button>
            </form>

            <form>
                <div>
                    <div>
                        <label for="password_id">Пароль:</label>
                        <input type="text" id="password_id" placeholder="{{ password }}"
                               readonly>
                    </div>
                    <div>
                        <label for="prediction_id">Количество:</label>
                        <input type="text" id="prediction_id" placeholder="{{ prediction }}"
                               readonly>
                    </div>
                </div>
            </form>
            <h3>Вводи сложный пароль!</h3>

        </div>
    </body>
</html>
